<mat-tab-group>
    <mat-tab label="Datepickers"> 
        <div class="datepickers">
            <div>
                <date-range-picker></date-range-picker>
            </div>
            <div>
                <date-picker-min-max></date-picker-min-max>
            </div>
            <div>
                <date-picker-month-year></date-picker-month-year>
            </div>
            <div>
                <date-picker-normal></date-picker-normal>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Buttom FAB y Dialog">
        <dialog-name></dialog-name>
    </mat-tab>
    <mat-tab label="Table">
        <table-people></table-people> 
    </mat-tab>
    <mat-tab label="Stepper">
        <stepper></stepper> 
    </mat-tab>
</mat-tab-group>
