<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/grid/layout1.css"> 
    <title>Layout 1</title>
</head>
<body class="grid">
    <div class="container a">A</div>
    <div class="container b">B</div>
    <div class="container c">C</div>
    <div class="container d">D</div>
    <div class="container e">E</div>
    <div class="container f">F</div>
    <div class="container g">G</div>
    <div class="container h">H</div>
</body>
</html>