@import '../helpers/variables';

.subscribe_section {
    background-color: #2e2d2d;
    padding: 25px 0;

    form {

        label {
            @extend .label-subscribe-section;
        }

        .box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            input {
                width: 100%;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid $color-white;
                outline: none;
                color: $color-white;
            }

            button {
                background-color: transparent;
                border: none;
                outline: none;
                text-transform: uppercase;
                color: $color-white;
                margin-left: -95px;
            }
            
        }
    }
}