//mixins
@mixin webkit {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin hover-read-more-about-section {
    background-color: $color-white;
    color: $color-brown;
}