nav {
    display: flex;
    gap: 10px; 
    justify-content: center;
    align-items: center;
    height: 10vh;
    
    button {
      background-color: #5e5d5d;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px; 
      cursor: pointer; 
      font-size: 26px;
  
      &:hover {
        background-color: #151b23;
      }
  
    }
  }
  